.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 30px;
    padding: 10px;
}

.grid-container > div {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
}

.header {
    text-align:center;
    background-color: lightseagreen;
    font-size: 30px;
    line-height: 100px;
}

.header2 {
    text-align:center;
    background-color: rgb(129, 213, 247);
    font-size: 20px;
    line-height: 75px;
    border: 1px solid black;
}

.select_card {
    font-weight: bold;
    width: 100%;
    height: 200px;
    line-height: 200px;
    padding: 0;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
    border: 1px solid black;
    background: rgb(227, 248, 255);
}

.center {
    display:flex;
    margin: auto;
    width:100%;
    height:300px;
    position:relative;
    justify-content:center;
    align-items:center;
    text-align: center;
    flex-wrap:wrap;
}

.smallheight {
    height:100%;
}

.fiftypercent {
    width: 50%;
    text-align: center;
}

.hundredpercent {
    width: 100%;
    text-align: center;
}

.editor_card {
    font-weight: bold;
    width: 100%;
    height: 250px;
    line-height: 250px;
    padding: 0;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
    border: 1px solid black;
    background: rgb(186, 242, 198);
}

.select_card:hover {
    transform: rotateY(180deg) scale(1.1);
}

.editor_card:hover {
    transform: rotateY(180deg) scale(1.1);
}


.select_card-front, .select_card-back {
    position: absolute;
    font-size: 1.5vw;
    text-align: center;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}
.select_card-back {
    transform: rotateY(180deg);
}

.editor_card-front, .editor_card-back {
    position: absolute;
    font-size: 2vw;
    text-align: center;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}
.editor_card-back {
    transform: rotateY(180deg);
}

@media screen and (max-width: 600px) {
    .select_card-front, .select_card-back {
        font-size: 2vw;
        text-align: center;
    }

    .editor_card-front, .editor_card-back {
        font-size: 4vw;
    }
}